@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  box-sizing: content-box;
}

body {
  color: #121212;
  font-family: "Lato", sans-serif;
  background-image: url("./images/bg_Img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(9px); */
}

fieldset {
  border: solid #728ca3 0.14rem;
  border-radius: 0.6rem;
}

.form-content:nth-of-type(1) {
  padding-block: 1.5rem;
}

.form-content:nth-of-type(2) {
  margin-block-start: 3.5rem;
}

legend {
  font-size: 1.5rem;
}

.percentage__img {
  max-width: 30px;
}

.list__img {
  max-width: 38px;
}

.dollar__sign {
  max-width: 50px;
  max-height: 12.5px;
}

label {
  margin-inline-start: 0.5rem;
}

/* @media screen and (min-width:420px) {
  .income-grid, .expenses-grid{
    max-width: 85%;
    margin-inline: auto;
  }
} */
/* @media screen and (min-width:600px) {
    .income-grid, .expenses-grid{
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
} */
.income-cell,
.expenses-cell,
.savings-cell {
  padding-block: 1.2rem;
}

.expenses-cell,
.savings-cell {
  display: flex;
}

.income-cell_1,
.expenses-cell_1,
.savings-cell_1 {
  display: flex;
  align-items: center;
}

.income-input,
.expenses-input,
.savings-input {
  font-size: 1rem;
  padding: 0.2rem;
  border: solid 0.1rem #0000ff51;
  border-radius: 0.2rem;
}

/* @media screen and (min-width:840px){
  .body-container{
    display: grid;
    grid-template-areas:   "salary  expenses"
                           "canvas  expenses "
                           "canvas  expenses "  
                           "goal   expenses";
  }
  .form-content:nth-of-type(1){
    grid-area: salary;
  }
  .form-content:nth-of-type(2){
    grid-area: expenses;
    margin-block-start: 0rem;
  }
  
  .canva-class{
    grid-area: canvas;
  }
  .income-grid, .expenses-grid{
    display: flex;
    flex-direction: column;
  }
} */
#chartdiv {
  width: 100%;
  height: 550px;
}

.budget-review-card {
  display: flex;
  flex-direction: row;
  font-size: calc(15px + (24 - 16) * (100vw - 320px) / (1920 - 320));
  font-weight: 700;
  padding-inline: 1.8rem;
  padding-block: 2.4rem;
  background-color: #d5d8dc;
}

.income-spent,
.income-saved,
.cash-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.income-saved,
.cash-balance {
  margin-left: 0.7rem;
}
