@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
  box-sizing: content-box;
}
body{
  color: #121212;
  font-family: 'Lato', sans-serif;
  background-image: url("./images/bg_Img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(9px);
}
fieldset{
  border: solid #728ca3 .14rem;
  border-radius: .6rem;
}
.formContent:nth-of-type(1){
  padding-block: 1.5rem;
}
.formContent:nth-of-type(2){
    margin-block-start: 3.5rem;
}
legend{
  font-size: 1.5rem;
}
.percentage__img {
  max-width: 30px;
}
.list__img {
  max-width: 30px;
}
.naira__sign {
  max-width: 50px;
  max-height: 12.5px;
}
label{
  /* margin-inline-start: .5rem; */

}
/* .amountGrid{
  background-color: orangered;
  
} */
@media screen and (min-width:420px) {
  .amountGrid{
    max-width: 85%;
    margin-inline: auto;
  }
}
@media screen and (min-width:600px) {
    .amountGrid{
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .monthCard{
        max-width: 70%;
        margin-inline: auto;
    }
}
.amountCell{
   padding-block: 1.5rem;
}
.amountInput, .salaryInput, .monetaryInput{
  font-size: 1rem;
  padding: .2rem;
  border: solid .1rem #0000ff51;
  border-radius: .2rem;
}
.monetaryGrid{
   display: flex;

}
.monetaryCell + *{
  margin-left: 2rem;
}
.goalBtnUpdate{
     font-size: .93rem;
     color: #000000;
}
.goalBtnUpdate:hover{
   box-shadow: 1.5px .8px 5px 1.8px #524949;
}
.monetaryFieldClass{
  margin-block-start: 3.5rem;
}
.monetaryPg{
   font-size: .9rem;
   text-align: left;
   font-family: 'Comfortaa', cursive;
}

@media screen and (min-width:840px){
  .bodyContainer{
    display: grid;
    grid-template-areas:   "salary  amount"
                           "canvas  amount "
                           "canvas  amount "  
                           "goal   amount";
  }
  .formContent:nth-of-type(1){
    grid-area: salary;
  }
  .formContent:nth-of-type(2){
    grid-area: amount;
    margin-block-start: 0rem;
  }
  
  .canvaClass{
    grid-area: canvas;
  }
  .monetaryFieldClass{
     grid-area: goal;
  }
  .amountGrid{
    display: flex;
    flex-direction: column;
  }
}
.monthCard{
  background-image: url("./images/bg_Img1.jpg");
  background-color:#f0ffff;
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2rem;
  border-radius: .3rem;
  padding: 2.5rem;
}
@media screen and (min-width:780px) {
  .monthCard{
    max-width: 62%;
    margin-inline: auto;
}
}